<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showsSystemControl</key>
	<false/>
	<key>automaticUpdates</key>
	<false/>
	<key>defaultApps</key>
	<array>
		<dict>
			<key>NSApplicationName</key>
			<string>Finder</string>
			<key>NSApplicationPath</key>
			<string>/System/Library/CoreServices/Finder.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Siri</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Siri.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Launchpad</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Launchpad.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Safari</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Safari.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Mail</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Mail.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Contacts</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Contacts.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Calendar</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Calendar.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Notes</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Notes.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Reminders</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Reminders.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Maps</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Maps.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Photos</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Photos.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Messages</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Messages.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>FaceTime</string>
			<key>NSApplicationPath</key>
			<string>/Applications/FaceTime.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Pages</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Pages.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Numbers</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Numbers.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Keynote</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Keynote.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>iTunes</string>
			<key>NSApplicationPath</key>
			<string>/Applications/iTunes.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>iBooks</string>
			<key>NSApplicationPath</key>
			<string>/Applications/iBooks.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>App Store</string>
			<key>NSApplicationPath</key>
			<string>/Applications/App Store.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>System Preferences</string>
			<key>NSApplicationPath</key>
			<string>/Applications/System Preferences.app</string>
		</dict>
	</array>
	<key>defaultAppsFolder</key>
	<string>~/Library/EnergyBar/Applications</string>
	<key>mainWindowHidden</key>
	<false/>
	<key>acceptsDraggedItems</key>
	<false/>
	<key>clockShowsBatteryStatus</key>
	<false/>
	<key>clockShowsBatteryTimeRemaining</key>
	<false/>
	<key>clockShowsWeatherOnTap</key>
	<false/>
	<key>dockMagnification</key>
	<true/>
	<key>nowPlayingShowsSmallWidget</key>
	<false/>
	<key>shows24HourClock</key>
	<false/>
	<key>showsActiveAppOnTap</key>
	<false/>
	<key>showsFoldersInTouchBar</key>
	<true/>
	<key>showsRunningApps</key>
	<true/>
	<key>showsTrash</key>
	<true/>
	<key>weatherShowsFahrenheit</key>
	<false/>
</dict>
</plist>
